<po-page-edit
  p-title="Form Designer"
  [p-breadcrumb]="breadcrumb"
  (p-save)="save()"
  (p-cancel)="cancel()"
>
  <form [formGroup]="myForm">
    <div class="po-row">
      <po-input
        class="po-md-6"
        name="tableName"
        formControlName="tableName"
        p-label="Table Name"
        p-clean
        p-required
      >
      </po-input>
      <po-input
        class="po-md-6"
        name="code"
        formControlName="code"
        p-label="Code"
        p-clean
        p-required
      >
      </po-input>
      <po-input
        class="po-md-4"
        name="captionBr"
        formControlName="captionBr"
        p-label="Caption BR"
        p-clean
        p-required
      >
      </po-input>
      <po-input
        class="po-md-4"
        name="captionEn"
        formControlName="captionEn"
        p-label="Caption EN"
        p-clean
        p-required
      >
      </po-input>
      <po-input
        class="po-md-4"
        name="captionEs"
        formControlName="captionEs"
        p-label="Caption ES"
        p-clean
        p-required
      >
      </po-input>
    </div>
  </form>
  <po-divider p-label="Fields"></po-divider>
  <div class="detail">
    <!-- align button to the right -->
    <div class="po-row" style="justify-content: flex-end">
      <po-button class="po-md" p-label="Add" (p-click)="addFormField()">
      </po-button>
    </div>
    <po-table
      p-sort
      p-striped
      p-actions-right
      p-single-select
      [p-selectable]="true"
      [p-items]="modalItemsData"
      [p-columns]="modalItemsColumns"
      [p-actions]="modalItemsActions"
    ></po-table>
  </div>

  <div class="modal">
    <po-modal #modalItems p-title="PO Modal"> We are TOTVERS!!! </po-modal>
  </div>
</po-page-edit>
