<po-page-edit
  p-title="Form Designer"
  [p-breadcrumb]="breadcrumb"
  (p-save)="save()"
  (p-cancel)="cancel()"
>
  <form [formGroup]="myForm">
    <div class="po-row">
      <po-input
        class="po-md-6"
        name="tableName"
        formControlName="tableName"
        p-label="Table Name"
        p-clean
        p-required
      >
      </po-input>
      <po-input
        class="po-md-6"
        name="code"
        formControlName="code"
        p-label="Code"
        p-clean
        p-required
      >
      </po-input>
      <po-input
        class="po-md-4"
        name="captionBr"
        formControlName="captionBr"
        p-label="Caption BR"
        p-clean
        p-required
      >
      </po-input>
      <po-input
        class="po-md-4"
        name="captionEn"
        formControlName="captionEn"
        p-label="Caption EN"
        p-clean
        p-required
      >
      </po-input>
      <po-input
        class="po-md-4"
        name="captionEs"
        formControlName="captionEs"
        p-label="Caption ES"
        p-clean
        p-required
      >
      </po-input>
    </div>
  </form>

  <!-- Detail -->

  <div class="detail">
    <po-table
      p-sort
      p-striped
      p-actions-right
      [p-selectable]="true"
      [p-items]="modalItemsData"
      [p-columns]="modalItemsColumns"
      [p-actions]="modalItemsActions"
      (p-delete-items)="deleteItems($event)"
      [p-hide-batch-actions]="false"
    ></po-table>
    <br />
    <div class="po-row" style="justify-content: flex-end">
      <po-button class="po-md" p-label="Add" (p-click)="addFormField()">
      </po-button>
    </div>
  </div>

  <!-- Modal -->

  <div class="modal">
    <po-modal
      #modalItems
      p-title="Form Field"
      [p-primary-action]="saveFormFieldAction"
    >
      <form [formGroup]="myFormItems">
        <div class="po-row">
          <po-input
            class="po-md-6"
            name="fieldName"
            formControlName="fieldName"
            p-label="Field Name"
            p-clean
            p-required
          >
          </po-input>
          <po-select
            class="po-md-6"
            name="component"
            formControlName="component"
            p-label="Component"
            [p-options]="myFormItemsComponentOptions"
            p-clean
            p-required
          ></po-select>
          <po-input
            class="po-md-4"
            name="captionBr"
            formControlName="captionBr"
            p-label="Caption BR"
            p-clean
            p-required
          >
          </po-input>
          <po-input
            class="po-md-4"
            name="captionEn"
            formControlName="captionEn"
            p-label="Caption EN"
            p-clean
            p-required
          >
          </po-input>
          <po-input
            class="po-md-4"
            name="captionEs"
            formControlName="captionEs"
            p-label="Caption ES"
            p-clean
            p-required
          >
          </po-input>
          <po-number
            class="po-md-3"
            name="grid"
            formControlName="grid"
            p-label="Grid"
            [minlength]="1"
            [maxlength]="12"
            p-clean
            p-required
          ></po-number>
          <po-number
            class="po-md-3"
            name="order"
            formControlName="order"
            p-label="Order"
            [minlength]="1"
            p-clean
            p-required
          ></po-number>
          <po-switch
            class="po-md-3"
            name="isNewLine"
            formControlName="isNewLine"
            p-label="New Line?"
            p-clean
            p-required
          ></po-switch>
          <po-switch
            class="po-md-3"
            name="required"
            formControlName="required"
            p-label="Required?"
            p-clean
            p-required
          ></po-switch>
          <po-input
            class="po-md-6"
            name="iniValue"
            formControlName="iniValue"
            p-label="Initial Value"
            p-clean
          >
          </po-input>
          <po-input
            class="po-md-6"
            name="help"
            formControlName="help"
            p-label="Help"
            p-clean
          >
          </po-input>
        </div>
      </form>
    </po-modal>
  </div>
</po-page-edit>
